<!--<app-header></app-header>-->
<div class="background">
<div class="col-lg-8 text-center offset-lg-2 mt-5">
  <button routerLink="/home/listUsers" class="btn-info float-left">Retour<i class="fas fa-undo-alt"></i></button>
  <button  type="submit" class="btn btn-info float-right" >Submit</button>
  <h1>Ajouter un Utilisateur</h1>
  <form [formGroup]="addUserForm"  (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputfirtname4">firstname</label>
        <input type="text" class="form-control" [(ngModel)]="firtname" id="inputfirtname4" placeholder="firtname" formControlName="firtname" required >
        <i *ngIf="isValidInput('firtname')"
           class="alert alert-danger">
                <span *ngIf="addUserForm.controls['firtname']">le nom d'utilisateur est obligatoire</span>
        </i>
      </div>
      <div class="form-group col-md-4">
        <label for="inputlastname4">lastname</label>
        <input type="text" class="form-control" [(ngModel)]="lastname" id="inputlastname4" placeholder="lastname" formControlName="lastname" required>
        <i *ngIf="isValidInput('lastname')"
           class="alert alert-danger">
          <span *ngIf="addUserForm.controls['lastname']">le nom d'utilisateur est obligatoire</span>
        </i>
      </div>
      <div class="form-group col-md-4">
        <label for="inputlastname6">password</label>
        <input type="password" class="form-control" [(ngModel)]="password" id="inputlastname6" placeholder="password" formControlName="password" required>
        <i *ngIf="isValidInput('password')"
           class="alert alert-danger">
          <span *ngIf="addUserForm.controls['password']">le nom d'utilisateur est obligatoire</span>
        </i>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputUsername" class="form-label text-black font-weight-bold">Username</label>
        <input type="text" class="form-control" [(ngModel)]="username" id="inputUsername" placeholder="Username" formControlName="username" required>
        <i *ngIf="isValidInput('username')"
           class="alert alert-danger">
          <span *ngIf="addUserForm.controls['username']">le nom d'utilisateur est obligatoire</span>
        </i>
      </div>
        <div class="form-group col-md-6">
          <label for="inputEmail" class="form-label text-black font-weight-bold">Email</label>
          <input type="email" class="form-control" [(ngModel)]="email" id="inputEmail" placeholder="Email" formControlName="email" required>
          <i *ngIf="isValidInput('email')"
             class="alert alert-danger">
            <span *ngIf="addUserForm.controls['email']">le nom d'utilisateur est obligatoire</span>
          </i>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputCity" class="form-label text-black font-weight-bold"></label>
        <input type="file" accept="/*" (change)="recupererImage($event.target)" class="form-control" id="inputCity" formControlName="photo">
      </div>
      <div class="form-group col-md-6">
        <label for="inputProfil">Profil</label>
        <select id="inputProfil" class="form-control" formControlName="profils">
          <option selected>Choose...</option>
          <option value="ADMIN">Administrateur</option>
          <option  value="CM">CM</option>
          <option  value="FORMATEUR">Formateur</option>
          <option  value="APPRENANT">Apprenant</option>
        </select>
      </div>
    </div>
  </form>
</div>
</div>
