<!--<app-header></app-header>-->
{{form.value|json}}
<div class="container fa-text-height ">
<div class="col-lg-10  offset-lg-3 mt-5">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" >
    <div class="form-row">
      <div class="form-group col-md-8">
        <label for="inputprofil4"><h1>Ajouter Profil</h1></label>
        <input class="form-control" id="inputprofil4" placeholder="profil" formControlName="libelle">
      </div>
    </div>
    <div class=" offset-3 ">
      <button type="submit" class="btn btn-primary" >Enregistrer</button>
    </div>
  </form>
</div>
</div>

