<!--<app-header></app-header>-->
<div class="card-body">
  <h3 class="card-header title text-center font-weight-bold text-uppercase py-4">Ajouter de Promotion</h3>
</div>
<div class="container" style="background-color: #CCE6E0">
  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <div class="row">
        <div class="container col-lg-10">
          <div class="p-5">
            <div class="text-center">
              <h1 class="h4 text-gray-900 mb-4">Creer Une Promotion</h1>
            </div>
            <form class="user" >
              <div class="form-group">
                <label for="langue">Choix de langue</label>
                <select id="langue" class="selectpicker ml-3" data-style="btn-primary" >
                  <option selected>CHOIX DE LA LANGUE</option>
                  <option value="francais">Français</option>
                  <option value="anglais">Anglais</option>
                </select>
              </div>
              <div class="form-group">
                <label for="titre">Titre</label>
                <input type="text" class="form-control" id="titre" placeholder="choisisser le titre le plus clair, le plus pro et le plus accrocheur possilble.">
              </div>
              <div class="form-group">
                <label for="description">Description de la promo</label>
                <textarea class="form-control"
                         id="description" name="description" placeholder="Ecrire ici une description rapide, simple et consise"></textarea>
              </div>

              <div class="form-group">
                <label for="lieu">Lieu de la Promotion</label>
                <input type="text" class="form-control"
                        id="lieu" name="lieu" placeholder="Indiquez la region dala quelle se trouve votre promotion">
              </div>

              <div class="form-group">
                <label for="refAgate">Reference Agate</label>
                <input type="text" class="form-control"
                        id="refAgate" name="refAgate"
                       placeholder="La reference agate et un code analytique.">
              </div>

              <div class="form-group">
                <label for="fabrique">Choix de la fabrique</label>
                <select id="fabrique" class="selectpicker ml-3">
                  <option selected>CHOIX DE LA FABRIQUE</option>
                  <option value="fabrique">...</option>
                  <option value="fabrique1">...</option>
                </select>
              </div>

              <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <label for="dateDebut">Date Debut</label>
                  <input type="date" class="form-control"  id="dateDebut" name="dateDebut">
                </div>
                <div class="col-sm-6">
                  <label for="dateFin">Date Fin</label>
                  <input type="date" class="form-control" id="dateFin" name="dateFin">
                </div>
              </div>
              <p>
                <button class="btn btn-outline-dark btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Referentiel
                </button>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <p id="id_work_days">
                    <label class="ml-3"><input type="checkbox" name="work_days" value="1" ><span>sun</span></label>
                  </p>
                </div>
              </div>


              <button  type="submit" class="btn btn-primary btn-user btn-block mt-3">
                Soumettre
              </button>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
