<!--<app-header></app-header>-->
<div class="background">
<div class="container">
  <div class="row">
    <div class="col-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="card-header d-flex justify-content-between bg-success">
            <div>libelle</div>
            <div>supp edit</div>
          </div>
          <p class="card-text" >Description </p>
          <a href="#" class="btn btn-primary mb-4 ml-5">detail</a>
          <div></div>
          <div class="card-footer">Groupe de compétences</div>
          <div class="card-footer">Programme</div>
          <div class="card-footer">Critère d'évaluation</div>
          <div class="card-footer">Critère d'admission</div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="card-header d-flex justify-content-between bg-success">
            <div>libelle</div>
            <div>supp edit</div>
          </div>
          <p class="card-text" >Description </p>
          <a href="#" class="btn btn-primary mb-4 ml-5">detail</a>
          <div></div>
          <div class="card-footer">Groupe de compétences</div>
          <div class="card-footer">Programme</div>
          <div class="card-footer">Critère d'évaluation</div>
          <div class="card-footer">Critère d'admission</div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="card-header d-flex justify-content-between bg-success">
            <div>libelle</div>
            <div>supp edit</div>
          </div>
          <p class="card-text" >Description </p>
          <a href="#" class="btn btn-primary mb-4 ml-5">detail</a>
          <div></div>
          <div class="card-footer">Groupe de compétences</div>
          <div class="card-footer">Programme</div>
          <div class="card-footer">Critère d'évaluation</div>
          <div class="card-footer">Critère d'admission</div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="card-header d-flex justify-content-between bg-success">
            <div>libelle</div>
            <div>supp edit</div>
          </div>
          <p class="card-text" >Description </p>
          <a href="#" class="btn btn-primary mb-4 ml-5">detail</a>
          <div></div>
          <div class="card-footer">Groupe de compétences</div>
          <div class="card-footer">Programme</div>
          <div class="card-footer">Critère d'évaluation</div>
          <div class="card-footer">Critère d'admission</div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="card-header d-flex justify-content-between bg-success">
            <div>libelle</div>
            <div>supp edit</div>
          </div>
          <p class="card-text" >Description </p>
          <a href="#" class="btn btn-primary mb-4 ml-5">detail</a>
          <div></div>
          <div class="card-footer">Groupe de compétences</div>
          <div class="card-footer">Programme</div>
          <div class="card-footer">Critère d'évaluation</div>
          <div class="card-footer">Critère d'admission</div>
        </div>
      </div>
    </div>
    <div class="col-4 mt-5">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <div class="card-header d-flex justify-content-between bg-success">
            <div>libelle</div>
            <div>supp edit</div>
          </div>
          <p class="card-text" >Description </p>
          <a href="#" class="btn btn-primary mb-4 ml-5">detail</a>
          <div></div>
          <div class="card-footer">Groupe de compétences</div>
          <div class="card-footer">Programme</div>
          <div class="card-footer">Critère d'évaluation</div>
          <div class="card-footer">Critère d'admission</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
