.background{
  background-color: #E1E9F5;
}
.thead{
  background-color: #86bbdb;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: moccasin;
  border-bottom: 2px solid green;
}
