<!--<app-header></app-header>-->
<div class="background">
<div class="col-lg-8 text-center offset-lg-2 mt-5">
  <div  class="float-right ">
    <a routerLink="/home/addProfilsSortie" class="btn btn-info btn-lg " role="button" aria-disabled="true"><i class="fa fa-user-plus"></i></a>
  </div>
  <table class="table" style="box-shadow: 5px 2px 2px 2px  gray;">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Libelle</th>
      <th scope="col">Action </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">Développeur back</th>
      <td>
        <button type="button" class="btn btn-light ml-3">Edit</button>
        <button type="button" class="btn btn-info ml-3">Detail</button>
        <button type="button" class="btn btn-dark ml-3">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Développeur front</th>
      <td>
        <button type="button" class="btn btn-light ml-3">Edit</button>
        <button type="button" class="btn btn-info ml-3">Detail</button>
        <button type="button" class="btn btn-dark ml-3">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Développeur fullstack</th>
      <td>
        <button type="button" class="btn btn-light ml-3">Edit</button>
        <button type="button" class="btn btn-info ml-3">Detail</button>
        <button type="button" class="btn btn-dark ml-3">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Intégrateur Web</th>
      <td>
        <button type="button" class="btn btn-light ml-3">Edit</button>
        <button type="button" class="btn btn-info ml-3">Detail</button>
        <button type="button" class="btn btn-dark ml-3">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Designer Web</th>
      <td>
        <button type="button" class="btn btn-light ml-3">Edit</button>
        <button type="button" class="btn btn-info ml-3">Detail</button>
        <button type="button" class="btn btn-dark ml-3">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Community Manager</th>
      <td>
        <button type="button" class="btn btn-light ml-3">Edit</button>
        <button type="button" class="btn btn-info ml-3">Detail</button>
        <button type="button" class="btn btn-dark ml-3">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">Data Scientist</th>
      <td>
        <button type="button" class="btn btn-light ml-3">Edit</button>
        <button type="button" class="btn btn-info ml-3">Detail</button>
        <button type="button" class="btn btn-dark ml-3">Delete</button>
      </td>
    </tr>
    <tr>
      <th scope="row">IOT</th>
      <td>
        <button type="button" class="btn btn-light ml-3">Edit</button>
        <button type="button" class="btn btn-info ml-3">Detail</button>
        <button type="button" class="btn btn-dark ml-3">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
