<!--<app-header></app-header>-->
<div class="background">
  <div class="col-lg-8 text-center offset-lg-2 mt-5">
    <div class="float-right ">
      <a routerLink="/home/editProfils/0" class="btn btn-info btn-lg " role="button" aria-disabled="true"><i class="fa fa-user-plus"></i></a>
    </div>
    <table class="table" style="box-shadow: 8px 5px 5px gray;">
      <thead class="thead">
      <tr>
        <th scope="col">libelle</th>
        <th scope="col">Action </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let profil of profils">
        <td>{{profil.libelle}}</td>
        <td>
          <button type="button" (click)="editProfil(profil.id)" class="btn btn-light ml-3">Edite<i class="fa fa-edit"></i></button>
          <button type="button" (click)="(profil.id )" class="btn btn-info ml-3">Detail</button>
          <button type="button" (click)="deleteProfil(profil.id )" class="btn btn-danger ml-3">Delete<i class="fa fa-trash"></i></button>
        </td>

      </tr>

      </tbody>
    </table>
  </div>
</div>
